<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @atm.id %>
</p>

<p>
  <strong>Long:</strong>
  <%= @atm.long %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @atm.lat %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @atm.bank %>
</p>

<p>
  <strong>Network:</strong>
  <%= @atm.network %>
</p>

<p>
  <strong>Location:</strong>
  <%= @atm.location %>
</p>

<p>
  <strong>City:</strong>
  <%= @atm.city %>
</p>

<p>
  <strong>Terminals:</strong>
  <%= @atm.terminals %>
</p>

<p>
  <strong>Blindness assistance:</strong>
  <%= @atm.blindness_assistance %>
</p>

<p>
  <strong>Dolars:</strong>
  <%= @atm.dolars %>
</p>

<p>
  <strong>Street:</strong>
  <%= @atm.street %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @atm.street_number %>
</p>

<p>
  <strong>Second street:</strong>
  <%= @atm.second_street %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @atm.neighborhood %>
</p>

<p>
  <strong>Commune:</strong>
  <%= @atm.commune %>
</p>

<p>
  <strong>Code:</strong>
  <%= @atm.code %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @atm.zipcode %>
</p>

<%= link_to 'Edit', edit_atm_path(@atm) %> |
<%= link_to 'Back', atms_path %>
